.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* логотип слева, ссылки справа */
    align-items: center;
    padding: 10px;
}

.navbar__logo {
    width: 150px;
    padding:0;
    margin:0;
}

.navbar__links {
    display: flex;
    gap:15px;
    text-decoration: none;
    font-size: 1rem;
    padding:0;
}

.navbar__links a:hover {
  text-decoration: underline;
}
